@model ProductDto

<div>
    <p><strong>Name:</strong> @Model.Name</p>
    <p><strong>Category Name:</strong> @Model.CategoryName</p>
    <p><strong>Price:</strong> @Model.Price</p>
    <p><strong>Description:</strong> @Model.Description</p>
    <p><strong>Image:</strong> <img src="@Model.ImageUrl" alt="@Model.Name" width="350"/></p>
</div>